<div class="container">
    <div class="alert alert-danger" role="alert">
        <strong>-------------Interpolation Syntax--------------</strong>
    </div>
    <div class="alert alert-primary" role="alert">
        Product Title: {{title}}
    </div>
    <div class="alert alert-secondary" role="alert">
        Product Description: {{desc}}
    </div>
    <div class="alert alert-success" role="alert">
        Product Price: {{price}}
    </div>
    <div class="alert alert-warning" role="alert">
        Product Status: {{isActive}}
    </div>
    <div class="alert alert-info" role="alert">
        Product Customer: <strong>ID:</strong> {{customer.id}} <strong>Name:</strong> {{customer.name}}
        <strong>Age:</strong> {{customer.age}}
    </div>
</div>
<div class="container">
    <div class="alert alert-danger" role="alert">
        <strong>-----------Property Binding Syntax-------------</strong>
    </div>
    <div class="alert alert-primary" role="alert">
        Product Title: <span [innerText]="title"></span>
    </div>
    <div class="alert alert-secondary" role="alert">
        Product Desc: <span [innerText]="desc"></span>
    </div>
    <div class="alert alert-success" role="alert">
        Product Price: <span [innerText]="price"></span>
    </div>
    <div class="alert alert-warning" role="alert">
        Product Status: <span [innerText]="isActive"></span>
    </div>
    <div class="alert alert-info" role="alert">
        Product Customer: 
        <strong>ID: </strong> <span [innerText]="customer.id"></span> 
        <strong> Name: </strong> <span [innerText]="customer.name"></span>
        <strong> Age: </strong> <span [innerText]="customer.age"></span>
    </div>
</div>